{% extends 'frontend/front-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
{% endblock %}

{% block sub_js_block %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="row search">
		{# search input #}
	</div>
	<div class="row slides">
		{# image slides #}
	</div>
	<div class="row jobs">
		{% for job in jobs %}
		<a href="/job/view/{{job.id}}" style="display: block; width: 100%;">
		<div class="col-sm-12 job">
			<div class="company-logo">
				<img src="{{job.company_logo|default('/assets/img/company-default-logo.png')}}">
			</div>
			<div class="job-info">
				<div class="col-sm-12 company">
					<span style="font-size: 1.1em; line-height: 1.2em;">{{job.title|default('')}}</span>
					<span class="pull-right" style="color: #fd7558;">{{job.pay_range_from}}~{{job.pay_range_to}}k</span>
				</div>
				<div class="col-sm-12" style="font-weight: 200; font-size: 1em; color: #333;">
					{{job.short_name|default('')}}
				</div>
				<div class="col-sm-12" style="font-weight: 200; font-size: 0.9em; color: #999;">
					<span>
						{{job.addr_city|default('')}} &nbsp; {{job.exp_level|default('经验不限')}}
					</span>
					<span class="job-time pull-right">{{job.updated|date('m月d日')}}</span>
				</div>
				<div class="col-sm-12" style="font-weight: 200; font-size: 0.9em; color: #999;">
					{{job.fund}} | {{job.scale}} | {{job.industry}}
				</div>
			</div>
		</div>
		</a>
		{% endfor %}
	</div>
</div>
{% include 'frontend/bottom-nav.html.twig' with {active: 'index'} %}

{% endblock %}