{% extends 'frontend/front-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="mobile-selector/bootstrap-fullscreen-select.css">
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/job/job.css">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/job/view.js"></script>
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<span class="title">{{job.job_title|default('')}}</span>
	</div>
	<!-- 职位的浏览情况 -->
	<!--
	<div class="row views col-xs-12 hide">
		<span class="col-xs-4">xx人浏览</span>
		<span class="col-xs-4">xx人该兴趣</span>
		<span class="col-xs-4">xx分享展示</span>
	</div>-->
	<!-- 职位基本要求 -->
	<div class="row col-xs-12">
		<div class="col-xs-12">
			<span class="post-title">{{job.job_title|default('')}}</span>	
		</div>
		<div class="col-xs-12">
			<span>{{job.pay_range_from|default('')}}k ~ {{job.pay_range_to|default('')}}k</span>
			<span>{{job.job_type|default('')}}</span>	
		</div>
		<div class="col-xs-12">
			<span>{{job.address|default('')}}</span>
			<span>{{job.experience_level|default('')}}</span>
			<span>{{job.edu_level|default('')}}</span>	
		</div>
	</div>
	<!-- 职位发布者信息 -->
	<div class="row col-xs-12">
		<div class="col-xs-3"><img src="{{user.avatar}}" class="avatar-sm"></div>
		<div class="col-xs-9">
			<div class="col-xs-12">
				<span>{{user.nickname|default('')}}</span>
			</div>
			<div class="col-xs-12">
				<span>{{user.position|default('')}}</span>
				<span>{{company.real_name_shot|default('')}}</span>
				<span>{{company.industry|default('')}}</span>
			</div>
		</div>
	</div>
	<!-- 职位描述 -->
	<div class="row col-xs-12">
		<div class="col-xs-12">
			<span class="post-desc">职位描述</span>
		</div>
		<div class="col-xs-12">
			<pre>{{job.summary|default('')}}
			</pre>
		</div>
	</div>
	<!-- 公司信息 -->
	<div class="row col-xs-12">
		<div class="col-xs-12">{{company.scale|default('')}}</div>
		<div class="col-xs-12">{{company.website|default('')}}</div>
		<div class="col-xs-12">{{company.real_name_full|default('')}}</div>
		<div class="col-xs-12">{{company.address|default('')}}</div>
	</div>
	<!-- <div class="row bottom-spacer"></div> -->
	<!-- 底部菜单 -->
	<div class="bottom-menu">

		{% if user.id === job.creator %}
			<button class="btn btn-mini btn-secondary btn-half js-btn-edit" data-action="/job/edit/{{job.id}}">编辑职位</button>
		    <button class="btn btn-mini btn-secondary btn-half js-btn-close" data-action="/job/close/{{job.id}}">关闭职位</button>
		{% elseif user.current_identity == 'JOBHUNTER' %}
			<button class="btn btn-mini btn-secondary btn-half js-btn-edit" data-action="/resume/delivery/{{job.id}}">投递简历</button>
		{% endif %}
	</div>
</div>

{% endblock %}