{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css?ver={{ver|default(1)}}">
<link rel="stylesheet" type="text/css" href="/assets/css/resume/edit.css?ver={{ver|default(1)}}">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/resume/edit-intent.js?ver={{ver|default(1)}}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form id="resume-form" action="/resume/edit/intent" method="post">
		<div class="row form-title">
			{% include 'frontend/go-back-btn.html.twig' with { back_url: '/resume/index'} %}
			<span class="title">期望工作</span>
			<a href="javascript:;" class="btn btn-link title-pull-right head-menu js-btn-edit">保存</a>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">期望职位：</div>
			<div class="col-xs-8">
				<input class="form-control col-xs-12" type="text" name="post_name" value="{{resume.post_name|default('')}}" placeholder="期望职位" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">职位性质：</div>
			<div class="col-xs-8">
				<select class="form-control col-xs-12 js-job-type" name="job_type" placeholder="职位性质">
					<option value="全职" {% if resume.job_type|default('') == '全职' %}selected{% endif %}>全职</option>
					<option value="实习" {% if resume.job_type|default('') == '实习' %}selected{% endif %}>实习</option>
					<option value="兼职" {% if resume.job_type|default('') == '兼职' %}selected{% endif %}>兼职</option>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">工作城市：</div>
			<div class="col-xs-8">
				<select class="form-control col-xs-12 js-intent-city" name="addr_city" placeholder="期望的工作城市" data-style="data-link">
					<optgroup label="北京">
						<option value="北京" {% if resume.addr_city|default('') == '北京' %}selected{% endif %}>北京</option>
					</optgroup>
					<optgroup label="上海">
						<option value="上海" {% if resume.addr_city|default('') == '上海' %}selected{% endif %}>上海</option>
					</optgroup>
					<optgroup label="浙江">
						<option value="杭州" {% if resume.addr_city|default('') == '杭州' %}selected{% endif %}>杭州</option>
						<option value="宁波" {% if resume.addr_city|default('') == '宁波' %}selected{% endif %}>宁波</option>
					</optgroup>
					<optgroup label="广东">
						<option value="广州" {% if resume.addr_city|default('') == '广州' %}selected{% endif %}>广州</option>
						<option value="深圳" {% if resume.addr_city|default('') == '深圳' %}selected{% endif %}>深圳</option>
					</optgroup>
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">期望薪资：</div>
			<div class="col-xs-8">
				<select class="form-control col-xs-5" id="pay_range_from" name="pay_range_from" data-style="btn-blink">
					{%for i in range(1, 50) %}
					<option value="{{i}}" {% if resume.pay_range_from|default('1') == i %}selected{% endif %}>{{i}}k</option>
					{% endfor %}
				</select>
				<span class="col-xs-2" style="padding-top: 0.5em;">~</span>
				<select class="form-control col-xs-5" id="pay_range_to" name="pay_range_to">
					{%for i in range(1, 50) %}
					<option value="{{i}}" {% if resume.pay_range_to|default('1') == i %}selected{% endif %}>{{i}}k</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">是否在职：</div>
			<div class="col-xs-8">
				<input class="" type="checkbox" id="on_the_job" name="on_the_job" value="1" {% if resume.on_the_job|default(0) == 1 %}checked{% endif %} style="margin-right: 10px;">
				<span>在职</span>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">补充说明：</div>
			<div class="col-xs-8">
				<textarea class="form-control text-field col-xs-12" rows="15" name="summary" placeholder="补充说明">{{resume.summary|default('')}}</textarea>
			</div>
		</div>
	</form>
</div>

{% endblock %}