{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/resume/edit.css">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/resume/edit-edu.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form id="resume-form" action="/resume/edit/edu" method="post">
		<div class="row form-title">
			{% include 'frontend/go-back-btn.html.twig' with { back_url: '/resume/index'} %}
			<span class="title">编辑教育经历</span>
			<a href="javascript:;" class="btn btn-link title-pull-right head-menu js-btn-edit">保存</a>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">学校名称：</div>
			<div class="col-xs-8">
				<input type="hidden" name="part" value="edu">
				<input class="form-control col-xs-12" type="text" name="school_name" value="{{edu.school_name|default('')}}" placeholder="您的学校名称" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">专业名称：</div>
			<div class="col-xs-8">
				<input class="form-control col-xs-12" type="text" name="major_name" value="{{edu.major_name|default('')}}" placeholder="您的专业名称" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">入学时间：</div>
			<div class="col-xs-8">
				<input class="form-control col-xs-12" id="start_date" type="month" min="1970-01" max="{{now('Y-m')}}" name="start_date" value="{{month(edu.start_date|default(''), 'Y-m')}}" placeholder="您的入学时间" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">毕业时间：</div>
			<div class="col-xs-8">
				<input class="form-control col-xs-12" id="end_date" type="month" min="1970-01" max="{{now('Y-m')}}" name="end_date" value="{{month(edu.end_date|default(''), 'Y-m')}}" placeholder="您的毕业时间" />
			</div>
		</div>
		<div class="row form-group">
			<div class="col-xs-4 col-form-label">学历：</div>
			<div class="col-xs-8">
				<select class="form-control col-xs-12" name="edu_level" placeholder="学历">
					<option value="高中" {% if edu.edu_level|default('') == '高中' %}selected{% endif %}>高中</option>
					<option value="专科" {% if edu.edu_level|default('') == '专科' %}selected{% endif %}>专科</option>
					<option value="本科" {% if edu.edu_level|default('') == '本科' %}selected{% endif %}>本科</option>
					<option value="硕士" {% if edu.edu_level|default('') == '硕士' %}selected{% endif %}>硕士</option>
					<option value="博士" {% if edu.edu_level|default('') == '博士' %}selected{% endif %}>博士</option>
				</select>
			</div>
		</div>
		{# <div class="row bottom-spacer"></div>
		<div class="bottom-menu">
			<button type="button" class="btn btn-mini btn-primary col-xs-12 js-btn-delete">删除此教育经历</button>
		</div> #}
	</form>
</div>

{% endblock %}