{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/resume/edit.css">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/resume/edit-exp.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form id="resume-form" class="" action="/resume/edit/exp" method="post">
		<div class="row form-title">
			{% include 'frontend/go-back-btn.html.twig' %}
			<span class="title">编辑最近工作经历</span>
			<a href="javascript:;" class="btn btn-link title-pull-right head-menu js-btn-edit">保存</a>
		</div>
		<div class="row form-group">
			<input type="hidden" name="part" value="exp">
			<input class="form-control col-xs-12" type="text" name="company_name" value="{{exp.company_name|default('')}}" placeholder="公司名称" />
		</div>
		<div class="row form-group">
			<input class="form-control col-xs-12" type="text" name="position_name" value="{{exp.position_name|default('')}}" placeholder="职位" />
		</div>
		<div class="row form-group">
			<input class="form-control col-xs-12" id="start_date" type="month" min="1970-01" max="{{now('Y-m')}}" name="start_date" value="{{month(exp.start_date|default(''), 'Y-m')}}" placeholder="入职日期" />
		</div>
		<div class="row form-group">
			<input class="form-control col-xs-12" id="end_date" type="month" min="1970-01" max="{{now('Y-m')}}" name="end_date" value="{{month(exp.end_date|default(''), 'Y-m')}}" placeholder="离职日期" />
		</div>
		<div class="row form-group">
			<textarea class="form-control text-field col-xs-12" rows="15" name="summary" placeholder="职责描述：xxxxx
				工作地点：xxxx
				项目描述：xxxxxx">{{exp.summary|default('')}}</textarea>
		</div>
		{# <div class="row bottom-spacer"></div>
		<div class="bottom-menu">
			<button type="button" class="btn btn-mini btn-primary col-xs-12 js-btn-delete">删除此工作经历</button>
		</div> #}
	</form>
</div>

{% endblock %}