{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/resume/view.css">
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{% include 'frontend/go-back-btn.html.twig' %}
		{# <span class="title">简历完整度：58%</span> #}
		<span class="title">我的简历</span>
		<a href="/resume/preview" class="btn btn-link title-pull-right head-menu">预览</a>
	</div>
	<!-- 基本信息 -->
	<div id="basic-info" class="row column">
		<div class="row-header">
			<span class="">基本信息</span><em class="required">必填</em>	
		</div>
		<div class="row-body">
			<a href="/resume/edit/basic" class="btn btn-link dock-top-right">编辑</a>
			<div class="row">
				<div class="col-xs-4">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</div>
				<div class="col-xs-8">{{basic.nickname}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</div>
				<div class="col-xs-8">{{basic.gender}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">最高学历：</div>
				<div class="col-xs-8">{{basic.edu_level|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">工作年限：</div>
				<div class="col-xs-8">{{basic.exp_level|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">出生日期：</div>
				<div class="col-xs-8">{{basic.birthday|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">所在城市：</div>
				<div class="col-xs-8">{{basic.addr_city|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">联系电话：</div>
				<div class="col-xs-8">{{basic.mobile|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4">联系邮箱：</div>
				<div class="col-xs-8">{{basic.email|default('')}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4" style="min-width: 160px;">一句话介绍：</div>
				<div class="col-xs-8">{{basic.profile|default('')}}</div>
			</div>
		</div>
	</div>
	<!-- 工作经历 -->
	<div id="exp-info" class="row column">
		<div class="row-header">
			<span class="">工作经历</span><em class="required">必填</em>	
		</div>
		<div class="row-body">
			<a href="/resume/edit/exp" class="btn btn-link dock-top-right">编辑</a>
			{# <ul class="exp-list"> #}
				{# {% for exp in exps %}
					<li class="exp-item">
						<span>{{exp.start_date}} - {{exp.end_date}}</span>
						<span>{{exp.company_name}}/{{exp.position_name}}</span>
						<pre>{{exp.summary}}</pre>
					</li>
				{% endfor %} #}
				{# <li class="exp-item">
					<span>2014.10 - 至今</span>
					<span>Company/Position</span>
					<pre>exp_content : 做了好多项目，为公司做出巨大贡献，这里是多行的，你要注意啊</pre>
				</li>
				<li class="exp-item">
					<span>2012.06 - 2014.10</span>
					<span>Company/Position</span>
					<pre>exp_content : 做了好多项目，为公司做出巨大贡献，这里是多行的，你要注意啊</pre>
				</li> #}
			{# </ul> #}
			<div class="exp-item">
				{% for exp in exps %}
					<span>{{month(exp.start_date|default(''))}} ~ {{month(exp.end_date|default(''))}}</span>
					<span>{{exp.company_name}}/{{exp.position_name}}</span>
					<pre>{{exp.summary|default('')}}</pre>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- 教育经历 -->
	<div id="edu-info" class="row column">
		<div class="row-header">
			<span class="">教育经历</span><em class="required">必填</em>	
		</div>
		<div class="row-body">
			<a href="/resume/edit/edu" class="btn btn-link dock-top-right">编辑</a>
			<div class="edu-item">
				{% for edu in edus %}
					<span>{{month(edu.start_date)}} ~ {{month(edu.end_date)}}</span>
					<span><i>{{edu.school_name|default('')}}</i> &nbsp; {{edu.major_name|default('')}}（{{edu.edu_level|default('')}}）</span>
					<pre>{{edu.summary|default('')}}</pre>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- 求职意向 -->
	<div id="intent-info" class="row column">
		<div class="row-header">
			<span class="">求职意向</span><em class="required">必填</em>	
		</div>
		<div class="row-body">
			<a href="/resume/edit/intent" class="btn btn-link dock-top-right">编辑</a>
			<div class="intent">
				{% if resume is not empty %}
					<span>{{resume.post_name|default('')}}({{resume.job_type|default('')}})</span>
					<span>{{resume.addr_city|default('')}} &nbsp;&nbsp; {{resume.pay_range_from}}k~{{resume.pay_range_to}}k</span>
					<pre>{{resume.summary|default('')}}</pre>
				{% endif %}
			</div>
			
		</div>
	</div>
</div>

{% endblock %}